<html> 
<head> 
	<title>Таблица игр</title> 
</head> 
<body> 
	<h1>Игры</h1> 
	<table> 
	<thead> 
		<tr> 
		<th>ID</th> 
		<th>Название</th> 
		<th>Ид жанра</th>
		<th>Год выпуска</th> 
		<th>Рейтинг</th>  
		<th>Actions</th> 
		</tr> 
	</thead> 
	<tbody> 
		{% for row in data %} 
		<tr> 
		<td>{{ row[0] }}</td> 
		<td>{{ row[1] }}</td> 
		<td>{{ row[2] }}</td>
		<td>{{ row[3] }}</td> 
		<td>{{ row[4] }}</td>  
		<td> 
			<form action="/update" method="post"> 
			<input type="hidden" name="id" value="{{ row[0] }}"> 
			<input type="text" name="title" value="{{ row[1] }}"> 
			<input type="text" name="genre_id" value="{{ row[2] }}">
			<input type="text" name="release_year" value="{{ row[3] }}"> 
			<input type="text" name="rating" value="{{ row[4] }}">  
			<input type="submit" value="Update"> 
			</form> 
			<form action="/delete" method="post"> 
			<input type="hidden" name="id" value="{{ row[0] }}"> 
			<input type="submit" value="Delete"> 
			</form> 
		</td> 
		</tr> 
		{% endfor %} 
	</tbody> 
	</table> 
	<h2>Добавить новую таблицу</h2> 
	<form action="/create" method="post"> 
	<input type="text" name="title" placeholder="title"> 
	<input type="text" name="genre_id" placeholder="genre_id">
	<input type="text" name="release_year" placeholder="release_year"> 
	<input type="text" name="rating" placeholder="rating">  
	<input type="submit" value="Create"> 
	</form> 
</body> 
</html> 
